*{
    margin: 0;
    padding: 0
}
body{
    background: url(../images/farm.jpg) no-repeat  ;
    background-size: 100vw 100vh
}
 #maindiv{
    width: auto;
    height: 100vh;
    border:3px solid green;
            
    }

.FallingEgg{
    width: 50px;
    height: 80px;
    position: absolute;
    z-index: 1;
}
            
#collector
{
position: absolute;
bottom: 1px;
z-index: 2;

//width : 100px;
//height : 95px;

width : 200px;

}
.bar{
    width: 100%;
    height: 60px;
    background-color: rgba(19,19,19,.2)
}

.score,.timer ,.lifes,.user,.image{
    display: inline-block;
    font-size: 37px;
    color: #fff;
}
#backbtn
{
    margin: 15px;
}
.score{
    
    float: right;
    margin-right: 16px;
}

.image{
    float: right;
    margin-right: 30px;

}

.lifes{
    float: right;
    margin-right: 15px;

}
#chicken_div{
    width:300px;
    height: 200px;
    display: inline-block;
    margin: 50px;
    margin-top: 0%;
}
.chicken{
    position: absolute;
    height: 150px;
}
.brokenEgg{
    position: absolute;
    z-index: 1;
}
    